.feed {
                    
    .pic {
        margin-bottom: 34px;
        height: 146px;
        background-color: #fcf7ed;
        border-radius: 20px;
    }
    .cnt {
        .tit {
            font-size: 15px;
            font-weight: 700;
            line-height: 30px;
        }
        .tagBox {
            font-size: 11px;
        }
    }
}