.button_wrap button {
    display: block;
    padding: 0;
    width: 141px;
    height: 45px;
    // width: 70px;
    // height: 24.4px;
    font-size: 14px;
    color: white;
    background-color: #494593;
    border: none;
    cursor: pointer;
}