.sub_nav {
    display: flex;
    justify-content: center;

    .menu_list {
        display: flex;
    
        .menu {
            margin-right: 20px;
            
            .link {
                display: block;
                padding: 19px;
                color: #333;
                font-size: 15px;
                text-decoration: none;
            }

            .link.active {
                color: black;
                font-weight: 700;
                font-size: initial;
            }
        }
        .menu:last-child {
            margin-right: 0;
        }
    }
}