.main_wrapper {
    width: 100vw;
    min-height: 100vh;
    

    .main {
        position: relative;
        margin-top: 75px;
        background-color: #fff;
        display: flex;
        justify-content: center;

        .container {
            position: relative;
            padding: 0 20px;
            width: 1200px;
            height: 100%;
        
            .main_content {
                width: 100%;
                height: 300px;
                background-color: #fcf7ed;
                border-radius: 40px;
            }
            
            .sorting {
                
                .title {
                    margin: 40px 0 30px;
                    font-size: 22px;
                    font-weight: 700;
                }

                .sort_list {
                    display: flex;
                
                    .sort:last-child {
                        margin-right: 0;
                    }
                }
            }
    
            .content.fourGrid {
                display: grid;
                // grid-template-columns: repeat(4, 1fr);
                grid-template-columns: repeat(4, 275px);
                grid-template-rows: 230px;
                grid-gap: 50px 24px;
                margin-top: 55px;
            }
        }
    }

    .footer {
        .container {}
    }
    
}
