.wrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: lightcyan;
    display: flex;
    justify-content: center;

    .container {
        padding: 0 20px;
        width: 1200px;
        height: 100%;

        .main {
            margin-top: 50px;
            background-color: #fff;


            .main_content {
                width: 100%;
                height: 250px;
                background-color: #fcf7ed;
                border-radius: 40px;
            }

            .sorting {

                .title {
                    margin: 20px 0;
                    font-size: 22px;
                    font-weight: 700;
                }

                .sort_list {
                    display: flex;

                    .sort {
                        margin-right: 30px;
                        width: 62px;
                        height: 113px;
                        background-color: #eecd7d;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 40px;

                        .circle {
                            display: block;
                            width: 53px;
                            height: 53px;
                            background-color: #fff;
                            border-radius: 50%;
                            margin: 5px 0 10px;
                        }
                        .tit {
                            font-size: 10px;
                        }
                    }

                    .sort:last-child {
                        margin-right: 0;
                    }
                }
            }

            .content.fourGrid { //그리드 사용하지 말거나 높이 잡는 방법으로 바꾸기
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 20px;
                margin-top: 40px;

                .feed {
                    
                    .pic {
                        margin-bottom: 15px;
                        height: 150px;
                        background-color: #fcf7ed;
                        border-radius: 20px;
                    }
                    .cnt {
                        .tit {
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 30px;
                        }
                        .tagBox {
                            font-size: 10px;
                        }
                    }
                }
            }
        }

        .footer {

        }
    }
}
