.mypage_wrapper {
    width: 100vw;
    min-height: 100vh;

    .main {
        display: flex;
        justify-content: center;

        .container {
            width: 1200px;
            
            .myPage {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .my_pic {
                    justify-self: center;
                    width: 180px;
                    height: 180px;
                    background-color: gray;
                    border-radius: 50%;
                    margin: 105px 30px;

                }

                .my_info {
                    margin-right: 200px;
                    background-color: #fff;

                    .profile_edit {
                        display: flex;
                        align-items: center;
                        margin-bottom: 17px;

                        .my_id {
                            font-size: 29px;
                            letter-spacing: 1px;
                            margin-right: 26px; 
                        }

                        .edit_btn, .setting_icon {
                            cursor: pointer;
                        }

                        .edit_btn {
                            margin-right: 15px;
                            padding: 10px 12px;
                            background-color: white;
                            border: 1px solid #e2e2e2;
                            border-radius: 5px;
                        }
                    }

                    .my_activity {
                        margin: 30px 0;
                        
                        .num {
                            margin-left: 8px;
                            margin-right: 50px;
                            font-weight: 700;
                        }
                    }

                    .etc {
                        .my_name {
                            font-weight: 700;
                            letter-spacing: 1px;
                        }
                    }
                }

                .write_btn {
                    align-self: flex-start;
                    background-color: #494593;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 35px;
                    margin-right: 17px;
                }
            }

            .content.fourGrid {
                display: grid;
                // grid-template-columns: repeat(4, 1fr);
                grid-template-columns: repeat(4, 275px);
                grid-template-rows: 230px;
                grid-gap: 50px 24px;
                margin-top: 35px;
            }
        }   
    }
    
}