.header {
    width: 100%;
    background-color: #fff;

    .top_header{
        display: flex;
        justify-content: center;
        box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.02);


        .container {
            width: 1200px;
            height: 100%;
            margin: 38px 0 16px;
            display: flex;
            justify-content: space-between;
        }
    }

}

.bottom_header{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;

    .container {
        margin: 10px 0;
        width: 1200px;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
}


