.search_wrapper {
    width: 100vw;
    min-height: 100vh;

    .main {
        margin-top: 60px;
        display: flex;
        justify-content: center;

        .container {
            width: 1200px;

            .content.fourGrid {
                display: grid;
                // grid-template-columns: repeat(4, 1fr);
                grid-template-columns: repeat(4, 275px);
                grid-template-rows: 230px;
                grid-gap: 50px 24px;
                margin-top: 145px;
            }
        }   
    }
    
}