// :root {
//     --colorPurple : #494593;
// } 이거 왜 안될까

.wrapper{
    background-color:#eecd7d;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;

    .contents{
        background-color:#fff;
        width: calc(100% - 100px);
        height: calc(100vh - 100px);
        border-radius: 30px;
        display: flex;
        // justify-content: space-between;

        .leftBox {
            width: 100%;
            padding: 30px 50px;

            .logo {
                width: 80px;
                height: 60px;
                margin-bottom: 40px;
                background-color: yellow;
            }

            .title_box {
                .m_title {
                    margin-bottom: 14px;
                    font-size: 30px;
                    font-weight: 700;
                }

                .desc {
                    font-size: 10px;
                    margin-bottom: 30px;
                }

            }

            .login_box {
                width: 70%;
                font-size: 10px;

                .login_input {
                    height: 200px;
                    border: 1px solid #333;
                }

                .btn_box {
                    margin: 30px 0 40px;
                    width: 110px;
                    height: 35px;
                    background-color: #494593;
                }
            }

            .text {
                font-size: 11px;
                line-height: 15px;

                .text2 {
                    display: block;
                    font-weight: 700;
                }
            }
        }

        .rightBox {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: #494593;

            .right_logo {
                width: 70%;
                height: 50%;
                background-color: #fff;
            }
        }
    }
}

