// :root {
//     --colorPurple : #494593;
// } 이거 왜 안될까

.wrapper{
    background-color:#eecd7d;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;

    .contents{
        background-color:#fff;
        width: calc(100% - 100px);
        height: calc(100vh - 100px);
        border-radius: 30px;
        display: flex;
        // justify-content: space-between;

        .leftBox {
            width: 100%;
            padding: 30px 50px;

            .title_box {
                // margin-top: 80px;
                margin-top: 7%;
                margin-bottom: 8.3%;

                .m_title {
                    // margin-bottom: 30px;
                    // font-size: 35px;
                    margin-bottom: 2.7%;
                    margin-bottom: 1.8rem;
                    font-size: 2.1em;
                    font-weight: 700;
                }

                .desc1, .desc2 {
                    font-size: 10px;
                    line-height: 15px;
                    line-height: 2em;
                }

            }

            .login_box {
                max-width: 450px;
                font-size: 10px;

                .checkBox {
                    margin-top: 13px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 11px;

                    .findPw {
                        color: #333;
                        text-decoration: none;
                    }
                }

                .btn_box {
                    display: flex;
                    justify-content: space-between;
                    margin: 1.5rem 0 2rem;
                }
            }

            .text {
                font-size: 11px;
                line-height: 15px;

                .text2 {
                    display: block;
                    font-weight: 700;
                }
            }
        }

        .rightBox {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: #494593;

            .right_logo {
                width: 70%;
                height: 50%;
                background-color: #fff;
            }
        }
    }

    .link{
        background-color: red;
    }
}

