.mainDetail_wrapper {
    z-index: 100;
    position: absolute;;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        position: absolute;
        width: calc(100% - 370px);
        height: calc(100vh - 170px);
        max-width: 1090px;
        max-height: 632px;
        background-color: #fff;
        border-radius: 40px;
        display: flex;
        padding: 50px;

        .l_content {
            width: 50%;
            height: 100%;
            
            .pic {
                height: calc(100% - 162px);
                max-height: 462px;
                background-color: #fcf7ed;
                border-radius: 20px;
            }

            .cnt {
                margin-top: 40px;

                .tit {
                    font-size: 21px;
                    letter-spacing: 1px;
                    font-weight: 700;
                }

                .tagBox {
                    margin-top: 23px;
                }
            }
        }

        .r_content {
            border-left: 1px solid #f6f6f6;
            margin-left: 34px;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .my_profile_box {
                padding: 30px 24px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 2px solid #efefef;

                .my_profile {
                    background-color: #fff;
                    display: flex;
                    align-items: center;

                    .my_pic {
                        margin-right: 26px;
                        
                        img {
                            display: block;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;;
                            background-color: lightgreen;
                        }
                    }

                    .my_info {
                        .my_id {
                            display: block;
                            margin-bottom: 9px;
                        }

                        .my_location {
                            font-size: 13px;
                        }
                    }
                }

                .more {
                    svg {
                        fill: #333;
                    }
                }
            }

            .registered_comments {
                margin-bottom: 5px;
                padding: 35px 24px;
                height: 250px;
                overflow-y: scroll;
                background-color: #fff;
                
                .comments {
                    height: 520px;

                    .comment.my_comment {
                        justify-content: inherit;
                        margin-bottom: 14px;
                    }
                    
                    .comment {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 40px;

                        .pic {
                            margin-right: 26px;
                        
                            img {
                                display: block;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;;
                                background-color: lightgreen;
                            }
                        }

                        .info {
                            flex-basis: 70%;

                            .cnt_box {
                                line-height: 20px;

                                .cnt.tag {
                                    color: #02295c;
                                }
                            }

                            .sub_box {
                                margin-top: 26px;
                                color: #ccc;

                                .day {
                                    margin-right: 26px;
                                }

                                .reply {
                                    font-size: 14px;
                                }
                            }
                        }

                        .heart {
                            flex-basis: 12%; 
                            text-align: center;
                            padding-top: 10px;
                            color: #c7c7c7;
                        }
                    }

                
                }
            }

            .condition {
                border-top: 2px solid #efefef;
                padding-top: 20px;
                padding-left: 24px;
                padding-right: 24px;

                .btn_box {

                    .btn {
                        margin-right: 26px;
                    }

                    .heart_btn {
                        svg {
                            fill: #dc565b;
                        }
                    }

                    .share_btn {
                        margin-right: 0;
                    }
                }

                .how_many_hearts {
                    .how_many_likes {
                        margin: 16px 0;

                        .who, strong {
                            font-weight: 700;
                        }
                    }

                    .how_many_days {
                        color: #999999;
                        font-size: 12px;
                        margin-bottom: 20px;
                    }
                }
            }

            .post_comment {
                padding-left: 24px;
                padding-right: 24px;
                border-top: 2px solid #efefef;
                margin: 10px 0;
                display: flex;
                justify-content: space-between;

                input {
                    margin: 13px 0;
                    padding: 10px 0;
                    flex-basis: 90%;
                    font-weight: 700;
                    color: #999999;
                    border: none;
                }

                .btn {
                    color: #cadff9;
                    background-color: transparent;
                    border: none;
                }
            }
        }

    }
}