.sort {
    margin-right: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sort_btn {
        border: none;
        padding: 0;
        width: 82px;
        height: 152px;
        background-color: #f0f0f0;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .circle {
            display: block;
            width: 67px;
            height: 67px;
            background-color: #fff;
            border-radius: 50%;
            margin: 7px 0 15px;
        }
        .tit {
            font-size: 10px;
        }
    }

}
.sort:first-child .sort_btn {
    background-color: #eecd7d;
}
