.nav {
    height: 100%;

    .link {
        height: 100%;
        padding: 16px;
        line-height: 70px;
        margin-right: 22px;
        color: #333;
        text-decoration: none;
    }

    .link:last-child {
        margin-right: 0;
    }
}